body {
	margin: 15px;
}

img {
	max-width: 100%;
	max-height: 275px;
}
button {
	position: absolute;
	bottom: 25px;
}

.searchBtn {
	margin-bottom: 10px;
}

#gameResult button {
	vertical-align: bottom;
}
.inner {
	background-color: #2C3139;
	height: 135px;
	float: bottom;
	padding: 10px;
	margin-top: 10px;
	
}
.smallBlurb {
	max-height: 80px;
	overflow: auto;
}

